{{#if comment}}
    <section class="container container_comment">
        <p >{{patient.user.nameGiven}} {{patient.user.nameFamily}}</p> 
        <p >{{time}}</p>
        <p >{{title}}: {{value}} {{unit}}</p>
        <p >{{comment}}</p>
    </section>
{{/if}}