<header>
    <img src="res/menu.svg" class="icons" id="hamburger" onclick="openNav()">
    {{#if login}}
        <img src="res/badge.svg" class="icons">
        <img src="res/profile.svg" class="icons">
    {{/if}}
</header>

<div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    {{#if login}}
        <a href="/patient_main">{{#if (isEq page 'patient_main')}}<b>Home</b>{{else}}Home{{/if}}</a>
        <a href="/patient_edit_data">{{#if (isEq page 'patient_edit_data')}}<b>Edit Data</b>{{else}}Edit Data{{/if}}</a>
        <a href="/patient_leaderboard">{{#if (isEq page 'patient_leaderboard')}}<b>Leaderboard</b>{{else}}Leaderboard{{/if}}</a>
        <a href="/patient_messages">{{#if (isEq page 'patient_messages')}}<b>Messages</b>{{else}}Messages{{/if}}</a>
        {{else}}
        <a href="/">Home</a>
        <a href="/login">{{#if (isEq page 'login')}}<b>Login</b>{{else}}Login{{/if}}</a>
    {{/if}}
    <hr style="background-color: black;">
    <a href="/about_diabetes">{{#if (isEq page 'about_diabetes')}}<b>About Diabetes</b>{{else}}About Diabetes{{/if}}</a>
    <a href="/about_website">{{#if (isEq page 'about_website')}}<b>About This Website</b>{{else}}About This Website{{/if}}</a>
    <hr style="background-color: black;">
    {{#if login}}
        <a href="/login">Log out</a>
    {{/if}}
</div>


<script>
    function openNav() {
        document.getElementById("mySidenav").style.width = "250px";
        document.getElementById("mySidenav").style.borderRight = "2px solid #555";
        document.getElementById("mySidenav").style.borderTopRightRadius = "20px";
        document.getElementById("mySidenav").style.boxShadow = "0 0 0 100vmax rgba(0,0,0,.3)";
    }

    function closeNav() {
        document.getElementById("mySidenav").style.width = "0";
        document.getElementById("mySidenav").style.borderRight = "0";
        document.getElementById("mySidenav").style.boxShadow = "0 0 0 100vmax rgba(0,0,0,0)";

    }
</script>
   
