<header>
    {{#if (isEq page 'change_password')}}
        <a href="/patient/settings"><img src="/res/back-arrow.svg" class="icons"></a>
        {{else}}
        <img src="/res/hamburger_menu.svg" class="icons" id="hamburger" onclick="openNav()">
    {{/if}}
    {{#if login}}
        {{#if (getBadge patient.engagement)}}
            <img src="/res/engagement_badge.svg" class="icons">
            {{else}}<img src="/res/engagement_badge_grey.svg" class="icons">
        {{/if}}
    {{/if}}
</header>

<div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    {{#if login}}
        <a href="/patient">{{#if (isEq page 'patient_main')}}<b>Home</b>{{else}}Home{{/if}}</a>
        <a href="/patient/edit-data">{{#if (isEq page 'patient_edit_data')}}<b>Edit Data</b>{{else}}Edit Data{{/if}}</a>
        <a href="/patient/leaderboard">{{#if (isEq page 'patient_leaderboard')}}<b>Leaderboard</b>{{else}}Leaderboard{{/if}}</a>
        {{else}}
        <a href="/">Home</a>
        <a href="/login">{{#if (isEq page 'login')}}<b>Login</b>{{else}}Login{{/if}}</a>
    {{/if}}
    <hr style="background-color: black;">
    <a href="/about-diabetes">{{#if (isEq page 'about_diabetes')}}<b>About Diabetes</b>{{else}}About Diabetes{{/if}}</a>
    <a href="/about-website">{{#if (isEq page 'about_website')}}<b>About This Website</b>{{else}}About This Website{{/if}}</a>
    <hr style="background-color: black;">
    {{#if login}}
        <a href="/patient/settings">{{#if (isEq page 'settings')}}<b>Settings</b>{{else}}Settings{{/if}}</a>
        <form method="POST" action="/logout">
            <input type="submit" value="Logout" style="font-size: 25px;">
        </form>
    {{/if}}
</div>


<script>
    function openNav() {
        document.getElementById("mySidenav").style.width = "45%";
        document.getElementById("mySidenav").style.borderRight = "2px solid #555";
        document.getElementById("mySidenav").style.borderTopRightRadius = "20px";
        document.getElementById("mySidenav").style.boxShadow = "0 0 0 100vmax rgba(0,0,0,.3)";
    }

    function closeNav() {
        document.getElementById("mySidenav").style.width = "0";
        document.getElementById("mySidenav").style.borderRight = "0";
        document.getElementById("mySidenav").style.boxShadow = "0 0 0 100vmax rgba(0,0,0,0)";
    }
</script>
   
