<body class="clinician_body">

    <header class="clinician_header">
        <h2 class="cilnician_nav">{{patient.user.nameGiven}} {{patient.user.nameFamily}}</h2>
        <a href="/clinician/dashboard" class="clinician_nav_btn"><h5>Dashboard</h5></a>
    </header>

    <a href="/clinician/patient/data-history"><p class="history_link"> Data History</p></a>

    <main class="note_main">
        <section class="overall">
            <section class="info_container">
                <h3>Weight</h3>
                {{#if patient.patientHealthEntries.valueWeight}}
                    <p>{{patient.patientHealthEntries.valueWeight}} kg</p>
                    {{else}}<p>-</p>
                {{/if}}

               <label class="required">Required
                    {{#if patient.requirementWeight}}
                        <input type="checkbox" checked="true">
                        {{else}}<input type="checkbox">
                    {{/if}}
                    <span class="checkmark"></span>
                </label>
                <div class="lower-threshold">
                    <label>Lower Threshold</label>
                    {{#if patient.weightLowerThreshold}}
                        <input class="input" type="text" placeholder="{{patient.weightLowerThreshold}}">
                        {{else}}<input class="input" type="text">
                    {{/if}}
                </div>

                <div class="upper-threshold">
                    <label>Upper Threshold</label>
                    {{#if patient.weightUpperThreshold}}
                        <input class="input" type="text" placeholder="{{patient.weightUpperThreshold}}">
                        {{else}}<input class="input" type="text">
                    {{/if}}
                </div>
            </section>

            <section class="info_container">
                <h3>Blood Glucose</h3>
                {{#if patient.patientHealthEntries.valueBloodGlucoseLevel}}
                    <p>{{patient.patientHealthEntries.valueBloodGlucoseLevel}} nmol/L</p>
                    {{else}}<p>-</p>
                {{/if}}

              <label class="required">Required
                    {{#if patient.requirementBloodGlucoseLevel}}
                        <input type="checkbox" checked="true">
                        {{else}}<input type="checkbox">
                    {{/if}}
                    <span class="checkmark"></span>
                </label>
                
                <div class="lower-threshold">
                    <label>Lower Threshold</label>
                    {{#if patient.bloodGlucoseLowerThreshold}}
                        <input class="input" type="text" placeholder="{{patient.bloodGlucoseLowerThreshold}}">
                        {{else}}<input class="input" type="text">
                    {{/if}}
                </div>

                <div class="upper-threshold">
                    <label>Upper Threshold</label>
                    {{#if patient.bloodGlucoseUpperThreshold}}
                        <input class="input" type="text" placeholder="{{patient.bloodGlucoseUpperThreshold}}">
                        {{else}}<input class="input" type="text">
                    {{/if}}
                </div>
            </section>

            <section class="info_container">
                <h3>Exercise</h3>
                {{#if patient.patientHealthEntries.valueExercise}}
                    <p>{{patient.patientHealthEntries.valueExercise}} steps</p>
                    {{else}}<p>-</p>
                {{/if}}
                <label class="required">Required
                    {{#if patient.requirementExercise}}
                        <input type="checkbox" checked="true">
                        {{else}}<input type="checkbox">
                    {{/if}}
                    <span class="checkmark"></span>
                </label>
                <div class="lower-threshold">
                    <label>Lower Threshold</label>
                    {{#if patient.exerciseLowerThreshold}}
                        <input class="input" type="text" placeholder="{{patient.exerciseLowerThreshold}}">
                        {{else}}<input class="input" type="text">
                    {{/if}}
                </div>
                <div class="upper-threshold">
                    <label>Upper Threshold</label>
                    {{#if patient.exerciseUpperThreshold}}
                        <input class="input" type="text" placeholder="{{patient.exerciseUpperThreshold}}">
                        {{else}}<input class="input" type="text">
                    {{/if}}
                </div>
            </section>

            <section class="info_container">
                <h3>Doses of Insulin Taken</h3>
                {{#if patient.patientHealthEntries.valueDosesOfInsulinTaken}}
                    <p>{{patient.patientHealthEntries.valueDosesOfInsulinTaken}} doses</p>
                    {{else}}<p>-</p>
                {{/if}}
                <label class="required">Required
                    {{#if patient.requirementDosesOfInsulinTaken}}
                        <input type="checkbox" checked="true">
                        {{else}}<input type="checkbox">
                    {{/if}}
                    <span class="checkmark"></span>
                </label>
                <div class="lower-threshold">
                    <label>Lower Threshold</label>
                    {{#if patient.dosesOfInsulinLowerThreshold}}
                        <input class="input" type="text" placeholder="{{patient.dosesOfInsulinLowerThreshold}}">
                        {{else}}<input class="input" type="text">
                    {{/if}}
                </div>

                <div class="upper-threshold">
                    <label>Upper Threshold</label>
                    {{#if patient.dosesOfInsulinUpperThreshold}}
                        <input class="input" type="text" placeholder="{{patient.dosesOfInsulinUpperThreshold}}">
                        {{else}}<input class="input" type="text">
                    {{/if}}
                </div>
            </section>

        <section class="save-btn">   
            <button class="lightmedium_button" type="submit">Save</button>
        </section>

        </section>


        
        <article class="patient_right">
        <section class="info_container">
            <h3>Support Messages</h3>
            <p>Current Message:</p>
            <p class="message">{{patient.supportMessage}}</p>
            <section>
                <label>New Message:</label>
                <input class="input" type="text">
               <section class="center_btn"><button type="submit"><h5>Update</h5></button></section>
            </section>
        </section>

        <section class="info_container">
            <h3>Notes</h3>
            <section>
                <textarea class="input" name="clinicianNote" placeholder="Add Note Here"></textarea>
                <section class="center_btn"> <button type="submit"><h5>SAVE</h5></button><br></section>
            </section>
            <a href="/clinician/patient/clinician-notes">See Past Notes</a>
        </article>


    </main>
    
</body>