<body class="clinician_body">

    <header class="clinician_header">
        <h2 class="cilnician_nav">{{patient.user.nameGiven}} {{patient.user.nameFamily}}'s Requirements</h2>
        <a href="/clinician/dashboard" class="clinician_nav_btn"><h5>Dashboard</h5></a>
    </header>

    <a href="/clinician/patient/{{patient._id}}/data-history"><p class="history_link"> Data History</p></a>

    <main class="note_main">
        <form class="overall" action="/clinician/patient/{{patient._id}}/update-reqs" method="post">
            <section class="info_container">
                <h3>Weight</h3>
                {{#if patient.patientHealthEntries.valueWeight}}
                    <p>{{patient.patientHealthEntries.valueWeight}} kg</p>
                    {{else}}<p>-</p>
                {{/if}}

               <label class="required">Required
                    {{#if patient.requirementWeight}}
                        <input type="checkbox" checked name="weightReq">
                        {{else}}<input type="checkbox" name="weightReq">
                    {{/if}}
                    <span class="checkmark"></span>
                </label>
                <div class="lower-threshold">
                    <label>Lower Threshold</label>
                    <input class="input" type="text" name="weightLowerThreshold" value="{{patient.weightLowerThreshold}}">
                </div>

                <div class="upper-threshold">
                    <label>Upper Threshold</label>
                    <input class="input" type="text" name="weightUpperThreshold" value="{{patient.weightUpperThreshold}}">
                </div>
            </section>

            <section class="info_container">
                <h3>Blood Glucose</h3>
                {{#if patient.patientHealthEntries.valueBloodGlucoseLevel}}
                    <p>{{patient.patientHealthEntries.valueBloodGlucoseLevel}} nmol/L</p>
                    {{else}}<p>-</p>
                {{/if}}

              <label class="required">Required
                    {{#if patient.requirementBloodGlucoseLevel}}
                        <input type="checkbox" checked name="bloodGlucoseReq">
                        {{else}}<input type="checkbox" name="bloodGlucoseReq">
                    {{/if}}
                    <span class="checkmark"></span>
                </label>
                
                <div class="lower-threshold">
                    <label>Lower Threshold</label>
                    <input class="input" type="text" name="bloodGlucoseLowerThreshold" value="{{patient.bloodGlucoseLowerThreshold}}">
                </div>

                <div class="upper-threshold">
                    <label>Upper Threshold</label>
                    <input class="input" type="text" name="bloodGlucoseUpperThreshold" value="{{patient.bloodGlucoseUpperThreshold}}">
                </div>
            </section>

            <section class="info_container">
                <h3>Exercise</h3>
                {{#if patient.patientHealthEntries.valueExercise}}
                    <p>{{patient.patientHealthEntries.valueExercise}} steps</p>
                    {{else}}<p>-</p>
                {{/if}}
                <label class="required">Required
                    {{#if patient.requirementExercise}}
                        <input type="checkbox" checked name="exerciseReq">
                        {{else}}<input type="checkbox" name="exerciseReq">
                    {{/if}}
                    <span class="checkmark"></span>
                </label>
                <div class="lower-threshold">
                    <label>Lower Threshold</label>
                    <input class="input" type="text" name="exerciseLowerThreshold" value="{{patient.exerciseLowerThreshold}}">
                </div>
                <div class="upper-threshold">
                    <label>Upper Threshold</label>
                    <input class="input" type="text" name="exerciseUpperThreshold" value="{{patient.exerciseUpperThreshold}}">
                </div>
            </section>

            <section class="info_container">
                <h3>Doses of Insulin Taken</h3>
                {{#if patient.patientHealthEntries.valueDosesOfInsulinTaken}}
                    <p>{{patient.patientHealthEntries.valueDosesOfInsulinTaken}} doses</p>
                    {{else}}<p>-</p>
                {{/if}}
                <label class="required">Required
                    {{#if patient.requirementDosesOfInsulinTaken}}
                        <input type="checkbox" checked name="insulinReq">
                        {{else}}<input type="checkbox" name="insulinReq">
                    {{/if}}
                    <span class="checkmark"></span>
                </label>
                <div class="lower-threshold">
                    <label>Lower Threshold</label>
                    <input class="input" type="text" name="insulinLowerThreshold" value="{{patient.dosesOfInsulinLowerThreshold}}">
                </div>

                <div class="upper-threshold">
                    <label>Upper Threshold</label>
                    <input class="input" type="text" name="insulinUpperThreshold" value="{{patient.dosesOfInsulinUpperThreshold}}">
                </div>
            </section>

            <section class="save-btn">   
                <button class="lightmedium_button" type="submit">Save</button>
            </section>

        </form>


        
        <article class="patient_right">
            <section class="info_container">
                <h3>Support Messages</h3>
                <p>Current Message:</p>
                <p class="message">{{patient.supportMessage}}</p>
                <form id="supportMsgForm" action="/clinician/patient/{{patient}}/update-support" method="post">
                    <label>New Message:</label>
                    <input class="input" type="text" name="supportMsg" required>
                    <section class="center_btn"><button type="submit"><h5>Update</h5></button></section>
                </form>
            </section>

            <section class="info_container">
                <h3>Notes</h3>
                <form id="clinicianNoteForm" action="/clinician/patient/{{patient}}/add-note" method="post">
                    <textarea class="input" name="clinicianNote" placeholder="Add Note Here" required></textarea>
                    <section class="center_btn"><button type="submit"><h5>SAVE</h5></button><br></section>
                </form>
                <a href="/clinician/patient/{{patient._id}}/clinician-notes">See Past Notes</a>
            </section>
        </article>


    </main>
    
</body>