
{{#if darkMode}}
        <body class="dark"></body>
{{/if}}
    <header class="clinician_header">
        <h2 class="cilnician_nav">{{patient.user.nameGiven}} {{patient.user.nameFamily}}'s Data History</h2>
        <a href="/clinician/patient/{{patient._id}}" class="clinician_nav_btn"><h5>Back to Patient</h5></a>
    </header>
    
    <hr>

<main class="dashboard_flex dashboard_padding">
        <article class="dash_left">
            <table class="dashboard_table">
                <tr class="title_box">
                    <th>Date</th>
                    <th>Blood glucose (nmol/L)</th>
                    <th>Weight (kg)</th>
                    <th>Exercise (steps)</th>
                    <th>Doses of insulin taken</th>
                </tr>
                
                {{#each date}}       
                    <tr class="dash_container" style="cursor: pointer;">
                        <td>{{this}}</td>
                        <td>{{lookup ../bloodGlucose @index}}</td>
                        <td>{{lookup ../weight @index}}</td>
                        <td>{{lookup ../excercise @index}}</td>
                        <td>{{lookup ../doses @index}}</td>
                    </tr>
                {{/each}}
                
            </table> 
        </article>
    </main>
