
{{#if darkMode}}
        <body class="dark"></body>
{{/if}}
    <header class="clinician_header">
        <h2 class="cilnician_nav">Settings</h2>
        <a href="/clinician/dashboard" class="clinician_nav_btn2"><h5>Dashboard</h5></a>
        <form method="POST" action="/logout">
            <button type="submit" class="clinician_nav_btn"><h5 class="phone_clinician">Log Out</h5></button>
        </form>
        <a href="/clinician/settings"><img class="icons icon_settings" src="/res/settings.svg"></a>
    </header>

    <main class="clinician_main">
        <h3 >Dr {{user.nameFamily}}</h3>
        <form class="big_background setting_hid" action="/update-user" method="post">
            <section class="setting_contanier">
                <article class="personal_info setting_phone">
                    <h5>Full name:</h5>
                    <p>{{user.nameGiven}} {{user.nameFamily}}</p>
                </article>
    
                <article class="personal_info setting_phone">
                    <h5>Year Born:</h5>
                    <p>{{user.yearBorn}}</p>
                </article>

                <article class="personal_info setting_phone">
                    <label for="Email"></label><h5>Email:</h5> </label>
                    <p>{{user.email}}</p>
                </article>
            </section>

            <section class="setting_contanier">
                <article class="personal_info setting_phone">
                    <label for="Password"></label><h5>New Password:</h5></label>
                    <input type="password" placeholder="" name="Password">
                </article>

                <article class="personal_info setting_phone">
                    <label for="Confirm_Password"></label><h5>Confirm Password:</h5></label>
                    <input type="password" placeholder="" name="Confirm_Password">
                </article>

                <article class="personal_info setting_phone">
                    <label for="Bio"></label><h5>Bio:</h5> </label>
                    <textarea class="input" name="bio">{{user.bio}}</textarea>
                </article>

                <section class="center_btn"><button type="submit"><h5>Update Details</h5></button></section>
                
            </section>
        </form>
        <form action="/clinician/dark-mode">
                <button class="theme-toggle-button"><h5>Light/Dark Theme</h5></button>
        </form>
    </main>
