<header>
    <h1>Good afternoon, {{user.screenName}}</h1>
    <button type="button">Settings</button>
    <button type="button">Log Out</button>
</header>

<table>
    <div class="search-container">
        <input type="text" placeholder="Name.." name="search">
        <button type="submit">Search</button>
    </div>

    <tr>
        <th>Patient Name</th>
        <th>Blood glucose (nmol/L)</th>
        <th>Weight (kg)</th>
        <th>Exercise (steps)</th>
        <th>Doses of insulin taken</th>
    </tr>

    {{#each patients}}
        <tr>
            <td>{{this.nameGiven}} {{this.nameFamily}}</td>
            {{#if this.bloodGlucose}}
                <td>{{this.bloodGlucose}}</td>
            {{else}}
                <td>-</td>
            {{/if}}
            {{#if this.weight}}
                <td>{{this.weight}}</td>
            {{else}}
                <td>-</td>
            {{/if}}
            {{#if this.exercise}}
                <td>{{this.exercise}}</td>
            {{else}}
                <td>-</td>
            {{/if}}
            {{#if this.dosesOfInsulin}}
                <td>{{this.dosesOfInsulin}}</td>
            {{else}}
                <td>-</td>
            {{/if}}
        </tr>
    {{/each}}
</table>
