<header>
    <h1>Good afternoon, {{user.screenName}}</h1>
    <button type="button">Settings</button>
    <button type="button">Log Out</button>
</header>

<table>
    <div class="search-container">
        <input type="text" placeholder="Name.." name="search">
        <button type="submit">Search</button>
    </div>
    <tr>
        <th>Patient Name</th>
        <th>Blood glucose (nmol/L)</th>
        <th>Weight (kg)</th>
        <th>Exercise (steps)</th>
        <th>Doses of insulin taken</th>
    </tr>

    {{#each patients}}
        <tr>
            <td>{{this.nameGiven}} {{this.nameFamily}}</td>
            {{#if this.bloodGlucose}}
                {{#if (checkThreshold this.bloodGlucose this.bloodGlucoseLowerThreshold this.bloodGlucoseUpperThreshold)}}
                    <td style="color: #f28379;">{{this.bloodGlucose}}</td>
                    {{else}}<td>{{this.bloodGlucose}}</td>
                {{/if}}
            {{else}}
                <td>-</td>
            {{/if}}
            {{#if this.weight}}
                {{#if (checkThreshold this.weight this.weightLowerThreshold this.weightUpperThreshold)}}
                    <td style="color: #f28379;">{{this.weight}}</td>
                    {{else}}<td>{{this.weight}}</td>
                {{/if}}
            {{else}}
                <td>-</td>
            {{/if}}
            {{#if this.exercise}}
                {{#if (checkThreshold this.exercise this.exerciseLowerThreshold this.exerciseUpperThreshold)}}
                    <td style="color: #f28379;">{{this.exercise}}</td>
                    {{else}}<td>{{this.exercise}}</td>
                {{/if}}
            {{else}}
                <td>-</td>
            {{/if}}
            {{#if this.dosesOfInsulin}}
                {{#if (checkThreshold this.dosesOfInsulin this.dosesOfInsulinLowerThreshold this.dosesOfInsulinUpperThreshold)}}
                    <td style="color: #f28379;">{{this.dosesOfInsulin}}</td>
                    {{else}}<td>{{this.dosesOfInsulin}}</td>
                {{/if}}
                <td>{{this.dosesOfInsulin}}</td>
            {{else}}
                <td>-</td>
            {{/if}}
        </tr>
    {{/each}}
</table>
