{{> sidenav login=true page='patient_edit_data'}}

<main class="content mainpage_grid_format">
    <h2 style="text-align: left" class="heading">Today</h2>

    <!-- 4 records -->
    <div class="boxes_container sec1">

        <contianer class="container info_rectangle_container" id="bloodGlucoseContainer">
            <div class="data_container">
                <img class="body_icons" src="/res/Icon_blood.svg" alt="blood icon image">
                <p class="bigger_p">Blood Glucose Level</p>
                {{#if user.bloodGlucose}}
                    <p>{{user.bloodGlucoseRecordDateTime}}</p>
                    {{else}}<img class="body_icons comment" src="/res/Icon_comment.svg" onclick="toggleComment('blood_glucose_desktop_comment')" style="cursor: pointer;">
                {{/if}}
            </div>
            {{#if user.bloodGlucose}}
                <div class="data_container input_data">
                    <p class="enteredData" id="bloodGlucoseValue">{{user.bloodGlucose}}</p>
                    <p>nmol/L</p>
                </div>
                <div class="desktop_comment">
                    <p class="enteredData">{{user.bloodGlucoseComment}}</p>
                </div>
            {{else}}
                <form id="bloodGlucoseForm" action="/patient/edit-data/blood-glucose-level" method="post">
                    <div class="data_container input_data">
                        <input type="text" name="bloodGlucoseValue">
                        <p>nmol/L</p>
                    </div>
                    <div class="desktop_comment" id="blood_glucose_desktop_comment">
                        <textarea id="bloodGlucoseComment" name="bloodGlucoseComment" placeholder="Add Comment Here"></textarea>
                    </div>
                    <br>
                    <button class="center white_button" type="submit">SAVE</button>
                </form>
            {{/if}}
        </contianer>

        <contianer class="container info_rectangle_container" id="weightContainer">
            <div class="data_container">
                <img class="body_icons" src="/res/Icon-weight.svg" alt="weight icon image">
                <p class="bigger_p">Weight</p>
                {{#if user.weight}}
                    <p>{{user.weightRecordDateTime}}</p>
                    {{else}}<img class="body_icons comment" src="/res/Icon_comment.svg" onclick="toggleComment('weight_desktop_comment')" style="cursor: pointer;">
                {{/if}}
            </div>
            {{#if user.weight}}
                <div class="data_container input_data">
                    <p id="weightValue">{{user.weight}}</p>
                    <p>kilograms</p>
                </div>
                <div class="desktop_comment">
                    <p class="enteredData">{{user.weightComment}}</p>
                </div>
            {{else}}
                <form id="weightForm"> <!-- action="" method="post" ~ put this inside form tag and give appropriate action -->
                    <div class="data_container input_data">
                        <input type="text" name="weightValue">
                        <p>kilograms</p>
                    </div>
                    <div class="desktop_comment" id="weight_desktop_comment">
                        <textarea id="weightComment" name="weightComment" placeholder="Add Comment Here"></textarea>
                    </div> 
                    <br>
                    <button class="center white_button" type="submit">SAVE</button>
                </form>
            {{/if}}
        </contianer>
    </div>


    <div class="boxes_container sec2">

        <contianer class="container info_rectangle_container" id="exerciseContainer">
            <div class="data_container">
                <img class="body_icons" src="/res/Icon_excercise.svg" alt="exercise icon image">
                <p class="bigger_p">Exercise</p>
                {{#if user.exercise}}
                    <p>{{user.exerciseRecordDateTime}}</p>
                    {{else}}<img class="body_icons comment" src="/res/Icon_comment.svg" onclick="toggleComment('exercise_desktop_comment')" style="cursor: pointer;">
                {{/if}}
            </div>
            {{#if user.exercise}}
                <div class="data_container input_data">
                    <p id="exerciseValue">{{user.exercise}}</p>
                    <p>kilograms</p>
                </div>
                <div class="desktop_comment">
                    <p class="enteredData">{{user.exerciseComment}}</p>
                </div>
            {{else}}
                <form id="exerciseForm"> <!-- action="" method="post" ~ put this inside form tag and give appropriate action -->
                    <div class="data_container input_data">
                        <input type="text" name="exerciseValue">
                        <p>steps</p> 
                    </div>
                    <div class="desktop_comment" id="exercise_desktop_comment">
                        <textarea id="exerciseComment" name="exerciseComment" placeholder="Add Comment Here"></textarea>
                    </div> 
                    <br>   
                    <button class="center white_button" type="submit">SAVE</button>
                </form>
            {{/if}}
        </contianer>

        <contianer class="container info_rectangle_container" id="insulinContainer">
            <div class="data_container">
                <img class="body_icons" src="/res/Icon_doses.svg" alt="doses icon image">
                <p class="bigger_p">Doses of Insulin Taken</p> 
                {{#if user.insulin}}
                    <p>{{user.insulinRecordDateTime}}</p>
                    {{else}}<img class="body_icons comment" src="/res/Icon_comment.svg" onclick="toggleComment('insulin_desktop_comment')" style="cursor: pointer;">           
                {{/if}}
            </div> 
            {{#if user.insulin}}
                <div class="data_container input_data">
                    <p id="insulinValue">{{user.insulin}}</p>
                    <p>kilograms</p>
                </div>
                <div class="desktop_comment">
                    <p class="enteredData">{{user.insulinComment}}</p>
                </div>
            {{else}}
                <form id="insulinForm"> <!-- action="" method="post" ~ put this inside form tag and give appropriate action -->
                    <div class="data_container input_data">
                        <input type="text" name="insulinValue"> 
                        <p>doses</p> 
                    </div>
                    <div class="desktop_comment" id="insulin_desktop_comment">
                        <textarea id="insulinComment" name="insulinComment" placeholder="Add Comment Here"></textarea>
                    </div>  
                    <br>
                     <button class="center white_button" type="submit">SAVE</button>
                </form>
            {{/if}}
        </contianer>
    </div>
</main>

{{> bottomnav login=true page='patient_edit_data'}}



<script>

    document.body.onload = function(){colourDiv()}

    function colourDiv() {
        const bloodGlucose = document.getElementById("bloodGlucoseContainer");
        const bloodGlucoseValue = document.getElementById("bloodGlucoseValue");
        const weight = document.getElementById("weightContainer");
        const weightValue = document.getElementById("weightValue");
        const exercise = document.getElementById("exerciseContainer");
        const exerciseValue = document.getElementById("exerciseValue");
        const insulin = document.getElementById("insulinContainer");
        const insulinValue = document.getElementById("insulinValue");

        if (bloodGlucose.contains(bloodGlucoseValue)) {
            bloodGlucose.style.backgroundColor = "#9FC0D6";
        } else {
            bloodGlucose.style.backgroundColor = "#f28379";
        }
        if (weight.contains(weightValue)) {
            weight.style.backgroundColor = "#9FC0D6";
        } else {
            weight.style.backgroundColor = "#f28379";
        }
        if (exercise.contains(exerciseValue)) {
            exercise.style.backgroundColor = "#9FC0D6";
        } else {
            exercise.style.backgroundColor = "#f28379";
        }
        if (insulin.contains(insulinValue)) {
            insulin.style.backgroundColor = "#9FC0D6";
        } else {
            insulin.style.backgroundColor = "#f28379";
        }
    }    

    function toggleComment(elemid) {
        if (document.getElementById(elemid).style.display == "block") {
            document.getElementById(elemid).style.display = "none";
        } else {
            document.getElementById(elemid).style.display = "block";
        }
    }

</script>
