{{> sidenav login=true page='patient_main'}}

<main class="content mainpage_grid_format">
        
    <div id="clinician_message">
        <h2 style="text-align:left">Hello, {{user.nameScreen}}</h2>
        <p style="text-align:left" class="bigger_p">{{user.supportMessage}}</p>
    </div>

    <!-- charts -->
    <div class="chart_container container sec1">
        <button class="white_button item_center"> 
            <p style="margin-right: 1vh">All</p>
            <img src="/res/Icon-down.svg">
        </button>
    </div>

    <!-- data entry -->
    <h2 style="text-align:left" class="subheading">Today</h2>

    <!--flexbox-->
    <div class="data_display">
        <contianer class="container info_square_container" id="weightContainer">
            <p class="bigger_p">Weight</p>
            {{#if user.weight}}
                <p>{{user.weight}}</p>
            {{else}}<p>-</p>
            {{/if}}
        </contianer>

        <contianer class="container info_square_container" id="bloodGlucoseContainer">
            <p class="bigger_p">Blood Glucose Level</p>
            {{#if user.bloodGlucose}}
                <p>{{user.bloodGlucose}}</p>
            {{else}}<p>-</p>
            {{/if}}
        </contianer>

        <contianer class="container info_square_container" id="exerciseContainer">
            <p class="bigger_p">Exercise</p>
            {{#if user.exercise}}
                <p>{{user.exercise}}</p>
            {{else}}<p>-</p>
            {{/if}}
        </contianer>

        <contianer class="container info_square_container" id="insulinContainer">
            <p class="bigger_p">Doses of Insulin Taken</p>
            {{#if user.dosesOfInsulin}}
                <p>{{user.dosesOfInsulin}}</p>
            {{else}}<p>-</p>
            {{/if}}
        </contianer>        
    </div>

</main>

{{> bottomnav login=true page='patient_main'}}


<script>
    document.body.onload = function(){colourDiv()}

    function colourDiv() {
        const bloodGlucose = document.getElementById("bloodGlucoseContainer");
        const weight = document.getElementById("weightContainer");
        const exercise = document.getElementById("exerciseContainer");
        const insulin = document.getElementById("insulinContainer");

        if (bloodGlucose.textContent.includes('-')) {
            bloodGlucose.style.backgroundColor = "#f28379";
        } else {
            bloodGlucose.style.backgroundColor = "#9FC0D6";
        }
        if (weight.textContent.includes('-')) {
            weight.style.backgroundColor = "#f28379";
        } else {
            weight.style.backgroundColor = "#9FC0D6";
        }
        if (exercise.textContent.includes('-')) {
            exercise.style.backgroundColor = "#f28379";
        } else {
            exercise.style.backgroundColor = "#9FC0D6";
        }
        if (insulin.textContent.includes('-')) {
            insulin.style.backgroundColor = "#f28379";
        } else {
            insulin.style.backgroundColor = "#9FC0D6";
        }
    }
    
</script>
